dbcache={{ dbcache }}
testnet={{ testnet }}
rpcuser={{ rpcuser }}
rpcallowip={{ rpcallowip }}
rpcpassword={{ rpcpassword }}
rpcbind={{ rpcbind }}
rpcport={{ rpcport }}
txindex={{ txindex }}
disablewallet={{ disablewallet }}
rpcthreads={{ rpcthreads }}
server={{ server }}
datadir={{ litecoin_data_dir }}
onlynet={{ onlynet }}