# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit bitcoind.service
# See "man systemd.service" for details.

[Unit]
Description=nodeexporter
After=network.target

[Service]
ExecStart=/usr/local/bin/node_exporter

# Process management
Type=simple
Restart=on-failure

# Run as root:root
User=root
Group=root

[Install]
WantedBy=multi-user.target

